<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>JUNG SU YUN</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	
		<link rel="shortcut icon" type="image/x-icon" href="/media/favicon.png">
		<link rel="apple-touch-icon" href="/media/favicon.painting">
		<meta name="description"          content="Jung suyun">
		<meta name="author"               content="Jung suyun">
		<meta itemprop="name"             content="정수연">
		<meta itemprop="description"      content="정수연 작가">
		<meta itemprop="image"            content="https://jungsuyun.life/media/img/thumbnails/thumbnail-70aa1724af6cac3d8559ff95189c41bb.jpg">
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="정수연 작가" />
		<meta property="og:description"   content="정수연 작가" />
		<meta property="og:url"           content="http://jungsuyun.life" />
		<meta property="og:image"         content="https://jungsuyun.life/media/img/thumbnails/thumbnail-70aa1724af6cac3d8559ff95189c41bb.jpg" />
		<!-- CSRF 토큰 추가 -->
		<meta name="_csrf" content="<%= csrfToken %>">
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700">
		<link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/scripts/blueimp-gallery/css/blueimp-gallery.min.css">

		
	</head>
	<body>
		<header id="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light">
						<h1>
							<a class="navbar-brand" href="/">JUNG SU YUN</a>
						</h1>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="gnb navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link home" aria-current="page" href="/">HOME</a>
							</li>
							<li class="nav-item">
								<a class="nav-link profile" aria-current="page" href="/profile">PROFILE</a>
							</li>
							<li class="nav-item">
								<a class="nav-link work" aria-current="page" href="/work">WORK</a>
							</li>
							<!-- <li class="nav-item">
								<a class="nav-link review" aria-current="page" href="/review">REVIEW</a>
							</li> -->
							<li class="nav-item">
								<a class="nav-link contact" href="/contact">CONTACT</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
    <!-- /header -->