<div class="modal fade" tabindex="-1" role="dialog" id="under_construction">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-image: url('/static/img/coming.jpg')">
                <h1>홈페이지 공사중 입니다.</h1>
                <h2>Coming Soon!</h2>
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="search_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="GET" action="/search/results/">
                    <div class="select_wrapper">
<div class="checkbox_wrapper">
<div class="first">색상</div>
<div class="color_box">
    
    <input type="checkbox" name="color" id="color1" value="빨간색"
    
    >
    <label for="color1" data-toggle="tooltip" data-placement="top" title="빨간색">
        red
    </label>
    
    <input type="checkbox" name="color" id="color2" value="파란색"
    
    >
    <label for="color2" data-toggle="tooltip" data-placement="top" title="파란색">
        blue
    </label>
    
    <input type="checkbox" name="color" id="color3" value="초록색"
    
    >
    <label for="color3" data-toggle="tooltip" data-placement="top" title="초록색">
        green
    </label>
    
    <input type="checkbox" name="color" id="color4" value="노란색"
    
    >
    <label for="color4" data-toggle="tooltip" data-placement="top" title="노란색">
        yellow
    </label>
    
    <input type="checkbox" name="color" id="color5" value="흑백"
    
    >
    <label for="color5" data-toggle="tooltip" data-placement="top" title="흑백">
        black white
    </label>
    
</div>
</div>
<div class="checkbox_wrapper">
<div class="first">주제</div>
<div class="category_box">
    
    <input type="checkbox" name="category" id="category1" value="풍경"
    
    >
    <label for="category1" data-toggle="tooltip" data-placement="top" title="풍경">
        scenery
    </label>
    
    <input type="checkbox" name="category" id="category2" value="인물"
    
    >
    <label for="category2" data-toggle="tooltip" data-placement="top" title="인물">
        people
    </label>
    
    <input type="checkbox" name="category" id="category3" value="정물"
    
    >
    <label for="category3" data-toggle="tooltip" data-placement="top" title="정물">
        still life
    </label>
    
    <input type="checkbox" name="category" id="category4" value="식물"
    
    >
    <label for="category4" data-toggle="tooltip" data-placement="top" title="식물">
        plants
    </label>
    
    <input type="checkbox" name="category" id="category5" value="동물"
    
    >
    <label for="category5" data-toggle="tooltip" data-placement="top" title="동물">
        animals
    </label>
    
    <input type="checkbox" name="category" id="category6" value="물"
    
    >
    <label for="category6" data-toggle="tooltip" data-placement="top" title="물">
        water
    </label>
    
    <input type="checkbox" name="category" id="category7" value="기타"
    
    >
    <label for="category7" data-toggle="tooltip" data-placement="top" title="기타">
        others
    </label>
    
</div>
</div>
</div>
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="검색하기..." value="" />
                        <span class="input-group-btn">
                            <button class="btn btn-default">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
            <a href="javascritp:void(0)" data-dismiss="modal">
                <img src="/static/img/close.png" alt="close" />
            </a>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->